*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-image: url(bg.avif);
  color: white;
}
#display{
margin:20px;
display:flex;
width: 90%;
height: 50px;
border:1px solid black;
border-radius: 20px;
background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
font-size: 30px;



}

.calculator{
  display:grid;
  height:400px;
  width:400px;
  background-color: white;
 border:2px solid black;
 border-radius: 30px;
 justify-content: center;
 align-self: center;
 margin-left: 600px;
 margin-top: 200px;

  


}
.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width:380px;
  ;
  border-radius: 50px;
  margin-bottom: 20px;
  

}
.btn{
  color: black;
border: 1px solid black;
border-radius: 20px;
background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
font-size: 20px;
}


.btn:hover{
  background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);;
}
