*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(bg.avif);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 280px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
 
}
.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  position: relative;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  color: #fff;
  background-color: #1e1e1e;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  transition: box-shadow 0.3s ease;
}

.btn:hover {
  background-color: red;}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #1e1e1e;
  border-radius: 20px;
  box-sizing: border-box;
  
}
